body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: black;
    color:white;
    padding: 0 20px;
}

/* Logo */
.navbar .logo {
    width: 60px;
    margin-right: 20px; /* space between logo and menu */
}

/* Menu next to logo */
.navbar .nav-links {
    display: flex;
    list-style: none;
    gap: 20px; /* space between menu items */
    margin: 0;
    padding: 0;
}
ul.nav-links li:hover{
    opacity:0.7;
}
/* Contact on far right */
.navbar .contact {
    margin-left: auto; /* push contact to far right */
    cursor: pointer;
}
.navbar .contact:hover{
     opacity:0.7;
}
main{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:"a b" "c d";
    gap:20px;
    width:100%;
    height:auto;
    padding:20px;
}


     
.div1{grid-area:a;


}
img{
    width:90%;
    height:80%
}
.div2{grid-area:b;

}
.div3{grid-area:c;

}
.div4{grid-area:d;

}
h1,h2{
    display:inline
}